<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.frk.api.mapper.CaDjJbxxMapper" >
  <resultMap id="BaseResultMap" type="com.icinfo.frk.api.model.CaDjJbxx" >
    <!--
      WARNING - @frameworkgenerated
    -->
    <result column="hash_unique" property="hashUnique" jdbcType="VARCHAR" />
    <result column="frwybs" property="frwybs" jdbcType="VARCHAR" />
    <result column="tyxydm" property="tyxydm" jdbcType="VARCHAR" />
    <result column="zzjgdm" property="zzjgdm" jdbcType="VARCHAR" />
    <result column="frfl" property="frfl" jdbcType="VARCHAR" />
    <result column="frflxl" property="frflxl" jdbcType="VARCHAR" />
    <result column="frmc" property="frmc" jdbcType="VARCHAR" />
    <result column="fddbr" property="fddbr" jdbcType="VARCHAR" />
    <result column="fr_zjlx" property="frZjlx" jdbcType="VARCHAR" />
    <result column="fr_zjhm" property="frZjhm" jdbcType="VARCHAR" />
    <result column="djjg" property="djjg" jdbcType="VARCHAR" />
    <result column="zgjg" property="zgjg" jdbcType="VARCHAR" />
    <result column="djrq" property="djrq" jdbcType="TIMESTAMP" />
    <result column="cxzt" property="cxzt" jdbcType="VARCHAR" />
    <result column="cyrs" property="cyrs" jdbcType="INTEGER" />
    <result column="djzlx" property="djzlx" jdbcType="VARCHAR" />
    <result column="djzch" property="djzch" jdbcType="VARCHAR" />
    <result column="ywfw" property="ywfw" jdbcType="VARCHAR" />
    <result column="qy_jy" property="qyJy" jdbcType="VARCHAR" />
    <result column="zczb" property="zczb" jdbcType="NUMERIC" />
    <result column="bm_bz" property="bmBz" jdbcType="VARCHAR" />
    <result column="jfly" property="jfly" jdbcType="VARCHAR" />
    <result column="jgsyxz" property="jgsyxz" jdbcType="VARCHAR" />
    <result column="shzzlx" property="shzzlx" jdbcType="VARCHAR" />
    <result column="qy_lx" property="qyLx" jdbcType="VARCHAR" />
    <result column="qy_lxdl" property="qyLxdl" jdbcType="VARCHAR" />
    <result column="hyml" property="hyml" jdbcType="VARCHAR" />
    <result column="hydm" property="hydm" jdbcType="VARCHAR" />
    <result column="hzrq" property="hzrq" jdbcType="TIMESTAMP" />
    <result column="jyqsrq" property="jyqsrq" jdbcType="TIMESTAMP" />
    <result column="jyjzrq" property="jyjzrq" jdbcType="TIMESTAMP" />
    <result column="jggss" property="jggss" jdbcType="VARCHAR" />
    <result column="jgsws" property="jgsws" jdbcType="VARCHAR" />
    <result column="gt_zcxs" property="gtZcxs" jdbcType="VARCHAR" />
    <result column="bz_cz" property="bzCz" jdbcType="INTEGER" />
    <result column="zjjb" property="zjjb" jdbcType="VARCHAR" />
    <result column="zjpb" property="zjpb" jdbcType="VARCHAR" />
    <result column="mzbm_ns" property="mzbmNs" jdbcType="VARCHAR" />
    <result column="jb" property="jb" jdbcType="VARCHAR" />
    <result column="bz_zfzg" property="bzZfzg" jdbcType="INTEGER" />
    <result column="jyjg_bxlx" property="jyjgBxlx" jdbcType="VARCHAR" />
    <result column="whjg_dj" property="whjgDj" jdbcType="VARCHAR" />
    <result column="dh" property="dh" jdbcType="VARCHAR" />
    <result column="yx" property="yx" jdbcType="VARCHAR" />
    <result column="cz" property="cz" jdbcType="VARCHAR" />
    <result column="frmc_jc" property="frmcJc" jdbcType="VARCHAR" />
    <result column="frmc_en" property="frmcEn" jdbcType="VARCHAR" />
    <result column="datasource" property="datasource" jdbcType="VARCHAR" />
    <result column="datasrdep" property="datasrdep" jdbcType="VARCHAR" />
    <result column="datakeycontent" property="datakeycontent" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--获取法人登记基本信息列表-->
  <select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
      *
    FROM frk.ca_dj_jbxx
    <where>
      <if test="frmcLike != null and frmcLike != ''">
        AND frmc LIKE '%'||#{frmc}||'%'
      </if>
      <if test="ywfwLike != null and ywfwLike != ''">
        AND ywfw LIKE '%'||#{ywfw}||'%'
      </if>
      <if test="tyxydm != null and tyxydm != ''">
        AND tyxydm = #{tyxydm}
      </if>
      <if test="zzjgdm != null and zzjgdm != ''">
        AND zzjgdm = #{zzjgdm}
      </if>
    </where>
    ORDER BY updatetime DESC
  </select>
</mapper>