<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.frk.business.mapper.CdZbGqxxValidMapper" >
  <resultMap id="BaseResultMap" type="com.icinfo.frk.business.model.CdZbGqxxValid" >
    <!--
      WARNING - @frameworkgenerated
    -->
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="hash_unique" property="hashUnique" jdbcType="VARCHAR" />
    <result column="gdsfbs" property="gdsfbs" jdbcType="VARCHAR" />
    <result column="nbxh" property="nbxh" jdbcType="VARCHAR" />
    <result column="frwybs" property="frwybs" jdbcType="VARCHAR" />
    <result column="ancheid" property="ancheid" jdbcType="VARCHAR" />
    <result column="gd" property="gd" jdbcType="VARCHAR" />
    <result column="gd_lx" property="gdLx" jdbcType="VARCHAR" />
    <result column="zjlx_gd" property="zjlxGd" jdbcType="VARCHAR" />
    <result column="zjhm_gd" property="zjhmGd" jdbcType="VARCHAR" />
    <result column="gq_zre" property="gqZre" jdbcType="NUMERIC" />
    <result column="gq_qrqbl" property="gqQrqbl" jdbcType="NUMERIC" />
    <result column="gq_qrhbl" property="gqQrhbl" jdbcType="NUMERIC" />
    <result column="gq_zrlx" property="gqZrlx" jdbcType="VARCHAR" />
    <result column="gq_zrrq" property="gqZrrq" jdbcType="TIMESTAMP" />
    <result column="cz_czr" property="czCzr" jdbcType="VARCHAR" />
    <result column="cz_zqr" property="czZqr" jdbcType="VARCHAR" />
    <result column="cz_se" property="czSe" jdbcType="NUMERIC" />
    <result column="sedw" property="sedw" jdbcType="VARCHAR" />
    <result column="cz_djrq" property="czDjrq" jdbcType="TIMESTAMP" />
    <result column="cz_zt" property="czZt" jdbcType="VARCHAR" />
    <result column="dj_zxfy" property="djZxfy" jdbcType="VARCHAR" />
    <result column="dj_cdwh" property="djCdwh" jdbcType="VARCHAR" />
    <result column="dj_zxsx" property="djZxsx" jdbcType="VARCHAR" />
    <result column="dj_bzxrlx" property="djBzxrlx" jdbcType="VARCHAR" />
    <result column="dj_bzxr" property="djBzxr" jdbcType="VARCHAR" />
    <result column="dj_gqs" property="djGqs" jdbcType="INTEGER" />
    <result column="dj_qxqs" property="djQxqs" jdbcType="TIMESTAMP" />
    <result column="dj_qxjz" property="djQxjz" jdbcType="TIMESTAMP" />
    <result column="datasrdep" property="datasrdep" jdbcType="VARCHAR" />
    <result column="datasource" property="datasource" jdbcType="VARCHAR" />
    <result column="datakeycontent" property="datakeycontent" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--股权信息DtoResultMap-->
  <resultMap extends="com.icinfo.frk.business.mapper.CdZbGqxxValidMapper.BaseResultMap" id="CdZbGqxxValidDtoResultMap" type="com.icinfo.frk.business.dto.CdZbGqxxValidDto">
    <result column="tzr" jdbcType="VARCHAR" property="tzr" />
  </resultMap>

  <!--查询股权信息列表-->
  <select id="selectList" parameterType="java.util.Map" resultMap="CdZbGqxxValidDtoResultMap">
    SELECT
    gdczxx.gd AS tzr, gqxx.*
    FROM
    frk.cd_zb_gqxx_valid gqxx, frk.cd_zb_gdczxx_valid gdczxx
    <where>
      gqxx.gdsfbs=gdczxx.gdsfbs
      <if test="frwybs != null and frwybs != ''">
        AND gqxx.frwybs  = #{frwybs}
      </if>
    </where>
  </select>
</mapper>