<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" 
    "http://ibatis.apache.org/dtd/sql-map-2.dtd">


<!-- 不使用namespace是由于sql搜索定位会比较方便 -->
<mapper namespace="com.icinfo.frk.business.mapper.CfSbCdhbxxValidMapper" >

    <resultMap id="BaseResultMap" class="com.company.project.model.CfSbCdhbxxValid">
        <result property="id" column="id"/>
        <result property="hashUnique" column="hash_unique"/>
        <result property="tbdh" column="tbdh"/>
        <result property="dmHbyc" column="dm_hbyc"/>
        <result property="hbcm" column="hbcm"/>
        <result property="hbch" column="hbch"/>
        <result property="bdh" column="bdh"/>
        <result property="dmCdhbbxcp" column="dm_cdhbbxcp"/>
        <result property="dmCbjg" column="dm_cbjg"/>
        <result property="bxqq" column="bxqq"/>
        <result property="bxzq" column="bxzq"/>
        <result property="bbr" column="bbr"/>
        <result property="syr" column="syr"/>
        <result property="xbbz" column="xbbz"/>
        <result property="xubbz" column="xubbz"/>
        <result property="ybdhpzh" column="ybdhpzh"/>
        <result property="hl" column="hl"/>
        <result property="dqflfs" column="dqflfs"/>
        <result property="dqflxs" column="dqflxs"/>
        <result property="bfbz" column="bfbz"/>
        <result property="bfhj" column="bfhj"/>
        <result property="bebz" column="bebz"/>
        <result property="behj" column="behj"/>
        <result property="fl" column="fl"/>
        <result property="pcxehj" column="pcxehj"/>
        <result property="sxfbl" column="sxfbl"/>
        <result property="ydtfbl" column="ydtfbl"/>
        <result property="wpyhbl" column="wpyhbl"/>
        <result property="wpyhje" column="wpyhje"/>
        <result property="zyjjfs" column="zyjjfs"/>
        <result property="zcjg" column="zcjg"/>
        <result property="fqfkbz" column="fqfkbz"/>
        <result property="sqjfjzrq" column="sqjfjzrq"/>
        <result property="frywbz" column="frywbz"/>
        <result property="lfbz" column="lfbz"/>
        <result property="sbbz" column="sbbz"/>
        <result property="gbbz" column="gbbz"/>
        <result property="zlbl" column="zlbl"/>
        <result property="zlbe" column="zlbe"/>
        <result property="zlbf" column="zlbf"/>
        <result property="fbsxf" column="fbsxf"/>
        <result property="pgcs" column="pgcs"/>
        <result property="xcpghbrq" column="xcpghbrq"/>
        <result property="pglx" column="pglx"/>
        <result property="hbbz" column="hbbz"/>
        <result property="dmHbr" column="dm_hbr"/>
        <result property="hbrq" column="hbrq"/>
        <result property="hbjg" column="hbjg"/>
        <result property="tbrlx" column="tbrlx"/>
        <result property="jmbz" column="jmbz"/>
        <result property="tbrs" column="tbrs"/>
        <result property="dqdm" column="dqdm"/>
        <result property="tbrq" column="tbrq"/>
        <result property="qdrq" column="qdrq"/>
        <result property="dlr" column="dlr"/>
        <result property="dlxyh" column="dlxyh"/>
        <result property="sfgx" column="sfgx"/>
        <result property="yzbm" column="yzbm"/>
        <result property="zxtk" column="zxtk"/>
        <result property="fxdj" column="fxdj"/>
        <result property="cbzle" column="cbzle"/>
        <result property="zbhbbz" column="zbhbbz"/>
        <result property="gzzetbfs" column="gzzetbfs"/>
        <result property="cchbdz" column="cchbdz"/>
        <result property="cchbjzny" column="cchbjzny"/>
        <result property="tjhbsj" column="tjhbsj"/>
        <result property="dqhbjb" column="dqhbjb"/>
        <result property="zzhbjb" column="zzhbjb"/>
        <result property="zxbe" column="zxbe"/>
        <result property="yjbfwyh" column="yjbfwyh"/>
        <result property="hbbzpd" column="hbbzpd"/>
        <result property="ldjg" column="ldjg"/>
        <result property="cxbdzt" column="cxbdzt"/>
        <result property="bdhybfsfqf" column="bdhybfsfqf"/>
        <result property="sfbs" column="sfbs"/>
        <result property="sfrq" column="sfrq"/>
        <result property="wlpyhns" column="wlpyhns"/>
        <result property="sffsjsy" column="sffsjsy"/>
        <result property="sfycxff" column="sfycxff"/>
        <result property="dwcbhysx" column="dwcbhysx"/>
        <result property="scyzhyzyqy" column="scyzhyzyqy"/>
        <result property="bdqywzcbz" column="bdqywzcbz"/>
        <result property="ycxbfssjdmpl" column="ycxbfssjdmpl"/>
        <result property="ycxzecbxdmpl" column="ycxzecbxdmpl"/>
        <result property="ceyhbl" column="ceyhbl"/>
        <result property="ceyhbf" column="ceyhbf"/>
        <result property="ychbqsxbf" column="ychbqsxbf"/>
        <result property="yjbf" column="yjbf"/>
        <result property="sjbf" column="sjbf"/>
        <result property="zybt" column="zybt"/>
        <result property="zysfxfbt" column="zysfxfbt"/>
        <result property="zyph" column="zyph"/>
        <result property="zybkrq" column="zybkrq"/>
        <result property="zyfbrq" column="zyfbrq"/>
        <result property="sbt" column="sbt"/>
        <result property="ssfxfbt" column="ssfxfbt"/>
        <result property="sph" column="sph"/>
        <result property="sbkrq" column="sbkrq"/>
        <result property="sfbrq" column="sfbrq"/>
        <result property="shbt" column="shbt"/>
        <result property="shsfxfbt" column="shsfxfbt"/>
        <result property="shph" column="shph"/>
        <result property="shbkrq" column="shbkrq"/>
        <result property="shfbrq" column="shfbrq"/>
        <result property="xbt" column="xbt"/>
        <result property="xsfxfbt" column="xsfxfbt"/>
        <result property="xph" column="xph"/>
        <result property="xbkrq" column="xbkrq"/>
        <result property="xfbrq" column="xfbrq"/>
        <result property="xzbt" column="xzbt"/>
        <result property="xzsfxfbt" column="xzsfxfbt"/>
        <result property="xzph" column="xzph"/>
        <result property="xzbkrq" column="xzbkrq"/>
        <result property="xzfbrq" column="xzfbrq"/>
        <result property="gzzxbfhscbf" column="gzzxbfhscbf"/>
        <result property="gzzxbfhscbfbhz" column="gzzxbfhscbfbhz"/>
        <result property="datasrdep" column="datasrdep"/>
        <result property="datasource" column="datasource"/>
        <result property="datakeycontent" column="datakeycontent"/>
        <result property="createtime" column="createtime"/>
        <result property="updatetime" column="updatetime"/>
    </resultMap>

</mapper>

