<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.icinfo.frk.business.mapper.ChXzzfFljgValidMapper" >
	<resultMap id="BaseResultMap" type="com.icinfo.frk.business.model.ChXzzfFljgValid">
        <result property="id" column="id"/>
        <result property="hashUnique" column="hash_unique"/>
        <result property="frwybs" column="frwybs"/>
        <result property="dwmc" column="dwmc"/>
        <result property="tyxydm" column="tyxydm"/>
        <result property="zzjgdm" column="zzjgdm"/>
        <result property="pjlb" column="pjlb"/>
        <result property="pjnr" column="pjnr"/>
        <result property="pjjg" column="pjjg"/>
        <result property="pjnd" column="pjnd"/>
        <result property="pjsj" column="pjsj"/>
        <result property="pjyj" column="pjyj"/>
        <result property="pjwh" column="pjwh"/>
        <result property="pjdw" column="pjdw"/>
        <result property="datasrdep" column="datasrdep"/>
        <result property="datasource" column="datasource"/>
        <result property="datakeycontent" column="datakeycontent"/>
        <result property="createtime" column="createtime"/>
        <result property="updatetime" column="updatetime"/>
	</resultMap>
</mapper>
